body {
	background: #eaeaea;
}

.fill {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.navbar-default {
	background: #fff;
	border-bottom: solid 1px #ccc;
}

.navbar-brand {
	padding: 0;
	height: 75px;
}

.browser {
	position: absolute;
	top: 75px;
	bottom: 0;
	right: 0;
	left: 0;
}

.browser-wrapper {
	-webkit-display: flex;
	display: flex;
	height: 100%;
	position: relative;
	overflow-y: auto;
}

.browser-wrapper .left {
	background: #fff;
	-webkit-display: flex;
	-webkit-flex: 1;
	display: flex;
	flex: 1;
	position: relative;
	border-right: 1px solid #ccc;
}

.left .top {
	top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  position: absolute;
  border-bottom: 1px solid #ccc;
}

.left .bot {
	top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.browser-wrapper .right {
	/*background: #99ff00;*/
	-webkit-display: flex;
	-webkit-flex: 2;
	display: flex;
	flex: 2;
	position: relative;
	overflow-y: auto;
}

.right-wrapper {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
